#say{
    text-align: center;
    font-size: 130px;
    font-style: italic;
    background-color: darkgreen;
    color: red;
    background: url("../image/star.jpg");
    height: 300px;
    width: 300px;
}